{{set . "title" "Home"}}
{{template "header.html" .}}

{{if .me}}
<h3>You're {{.me.Name}} on GitHub</h3>

<h1>Watched Repos</h1>


<div id="app">

	<!-- Modal -->
	<div id="unsubModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Unsubscribing</h4>
				</div>
				<div class="modal-body">
					<div class="progress">
						<div class="progress-bar" role="progressbar" v-bind:aria-valuenow="workingRepoPercent" aria-valuemin="0" aria-valuemax="100" style="width: ${workingRepoPercent}%;">							<span class="sr-only">${workingRepoPercent}% Complete</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for..." v-model="searchQuery">
			<!-- For some reason this stretches it to the end -->
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
			</span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-12 -->
</div><!-- /.row -->

<br/><br/>

<div id="example">
	<a href="#" v-on:click="unsubscribe">Unsubscribe from ${filteredRepos.length} repositories</a>
</div>

	<div class="row">
	<ul class="list-group">
		<li  class="list-group-item" v-for="repo in filteredRepos">
			${ repo.name }
		</li>

	</ul>
	</div>

</div>


{{end}}

<script>

Vue.config.delimiters = ["${", "}"]

new Vue({
	notReady: function() {
		// GET request
		this.$http({url: '/Api/Unsubscribe', method: 'GET'}).then(function (response) {
			// success callback
			alert("Success: " + response);
			console.log(response);
		}, function (response) {
			// error callback
			alert("Failure:" + response);
		});
	},
	el: '#app',
	data: {
		searchQuery: '',
		unsubscribing: false,
		totalWorkingRepos: 0,
		workingReposComplete: 0,
		reposUnsubscribed: [],
		repos: [
{{if .watchedByLogin}}
	{{ range $login, $repos := .watchedByLogin }}
		  	{{ range $repos }}
		  	{
				name: "{{.FullName}}",
				shortName: "{{.Name}}",
				login: "{{$login}}"
			},
		  	{{ end }}
	{{end}}
{{end}}
		]
	},
	methods: {
		removeRepo: function(repo){
			for(index in this.repos){
				r = this.repos[index];
				if(r.name == repo.name){
					this.repos.splice(index,1);
				}
			}
		},
		incrementComplete: function(event){
			this.workingReposComplete++;
			if(this.workingReposComplete == this.totalWorkingRepos){
				$('#unsubModal').modal('hide');

				for(index in this.reposUnsubscribed){
					this.removeRepo(this.reposUnsubscribed[index]);
				}
			}
		},
		unsubscribeRepo: function(_repo, r){
					url = '/Api/Unsubscribe?repo=' + r.shortName + "&owner=" + r.login;
					this.$http({url: url, method: 'GET'}).then(function (response) {
						// success callback
						if(response.data.success){
							// TODO: Handle failure appropriately
							this.reposUnsubscribed.push(r);
						} else {
							alert("Failure:" + response.data.error);
						}
						this.incrementComplete();
					}, function (response) {
						// error callback
						alert("Failure:" + response);
						this.incrementComplete();
					});
		},
		unsubscribe: function(event){
			$('#unsubModal').modal('show');
				this.reposUnsubscribed = [];
				this.totalWorkingRepos = this.filteredRepos.length;
				this.workingReposComplete = 0;
				for(repo in this.filteredRepos){
					var _repo = repo;
					r = this.filteredRepos[repo]
					this.unsubscribeRepo(repo,r);
				}
		}
	},

	computed: {
		filteredRepos: function () {
			return this.repos.filter(function(repo){
				return repo.name.indexOf(this.searchQuery) > -1;
			}.bind(this));
		},
		workingRepoPercent: function(){
			return (this.workingReposComplete / this.totalWorkingRepos) * 100;
		}
	}
});

</script>

{{template "footer.html" .}}
