{{set . "title" "Home"}}
{{template "header.html" .}}


{{if .me}}
<h3>You're {{.me.Name}} on GitHub</h3>

<h1>Watched Repos</h1>


<div id="app">

	<div class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for..." v-model="searchTerm">
			<!-- For some reason this stretches it to the end -->
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Go!</button>
			</span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-12 -->
</div><!-- /.row -->

<br/><br/>

	<div class="row">
	<ul class="list-group">
		<li  class="list-group-item" v-for="org in orgs | filterBy searchTerm in 'login'">
			<span class="badge">{{"{{"}} org.repoCount {{"}}"}}</span>
			<span data-toggle="collapse" data-target="#list{{"{{"}}org.login{{"}}"}}" class="accordion-toggle">
				{{"{{"}} org.login {{"}}"}} - {{"{{"}} org.repoCount {{"}}"}}
			</span>
			<a href="/Application/Unsubscribe?login={{"{{"}}org.login{{"}}"}}">[Unsubscribe all]</a>
			<ul class="list-group accordian-body collapse" id="list{{"{{"}}org.login{{"}}"}}">
				<li class="list-group-item" v-for="repo in org.repos">
					{{"{{"}} repo.name {{"}}"}}
				</li>
		</li>
	</ul>
	</div>
</div>


{{end}}

<script>
new Vue({
	el: '#app',
	data: {
		orgs: [
{{if .watchedByLogin}}
	{{ range $login, $repos := .watchedByLogin }}
		{
		  login: '{{$login}}',
		  repoCount: {{ len $repos }},
		  repos: [
		  	{{ range $repos }}
		  	{ name: "{{.FullName}}" },
		  	{{ end }}
		  ]
		},
	{{end}}
{{end}}
		]
	}
});

</script>

{{template "footer.html" .}}
