<!DOCTYPE html>

<html>
    <head>
        <title>{{.title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/public/css/bootstrap-social.css">

	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
	<script src="/public/js/bundle.js" type="text/javascript"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </head>
    <body>

	    <a href="https://github.com/theothertomelliott/github-unwatch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

	    <div class="container">

		<div class="col-lg-10 col-lg-offset-1">

		<div class="row">
			<div class="col-md-6">
		    <h1><i class="fa fa-eye-slash" style="color:#00750c" aria-hidden="true"></i> GitHub Bulk Unwatcher</h1>
		    <p>Unwatch multiple repositories quickly and easily.</p>
			</div>
			<div class="col-md-6">
				<div class="row">&nbsp;</div>
				{{if .me}}
					<div class="row">
						<div class="pull-right">
							<h4><img class="img-circle" src="{{.me.AvatarURL}}&s=40" height="20"/> {{.me.Login}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="pull-right">
							<a class="btn btn-sm btn-danger" href="/Auth/Logout">Sign Out</a>
						</div>
					</div>
				{{end}}
			</div>
		</div>

		<hr/>
